<div class="notifications col-md-7">
    <div class="title col-md-2"><i class="fa fa-exclamation-circle"></i> Informação</div>
    <div class="body col-md-8">
        <div class="text">
            <p>
                Falha ao carregar dados.</br>
                {{ controller.attempt.status === 'retrying' ? 'Aguarde ' + controller.attempt.countdown + ' segundos
                ou pressione' : 'Pressione' }} o botão ao lado para tentar novamente.
            </p>
        </div>
    </div>
    <div class="link col-md-2">
        <a href="" class="btn green" ng-click="controller.attempt.retry()">tentar novamente</a>
    </div>
</div>