<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form class="form-login" ng-submit="controller.login()">
            <h4>Terra cloud</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" ng-model="controller.credentials.username"/>
            </br>
            <input type="text" id="clientcode" class="form-control input-sm chat-input" placeholder="clientcode" ng-model="controller.credentials.clientcode"/>
            </br>
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="controller.credentials.password"/>
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <button type="submit"  class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></button>
            </span>
            </div>
            </form>
        </div>
    </div>
</div>
