<div class="col-md-12">
    <div class="col-md-12 padding-30 drop install">
        <div class="titulo">Configuração de Firewall</div>
        <div class="col-md-12 padding-zero">
          <div class="col-md-6 firewall-table titulo-table-firewall">
            <div class="vertical-align">
              Tipo
            </div>
          </div>
          <div class="col-md-6 firewall-table titulo-table-firewall">
            <div class="vertical-align">
              Porta
            </div>
          </div>
        </div>
        <div class="col-md-12 padding-zero linha-porta" ng-repeat="rule in controller.rules">
          <div class="col-md-6 firewall-table porta-table-firewall">
              <select class="porta-tipo margin-left-10"
                      ng-model="rule.description"
                      ng-change="rule.updatePort()"
                      ng-options="protocol for protocol in rule.allProtocols()">
              </select>
          </div>
          <div class="col-md-5 firewall-table porta-table-firewall">
              <input class="porta-tipo" type="number" required ng-model="rule.port" ng-change="rule.updateProtocol()">
          </div>
          <div class="col-md-1 firewall-table porta-table-firewall padding-zero text-right">
            <button class="btn-porta btn" type="button" name="button" ng-if="$last" ng-click="controller.addRule()"><i class="fa fa-plus white" aria-hidden="true"></i></button>
            <button class="btn-porta btn" type="button" name="button" ng-click="controller.removeRule(rule)"><i class="fa fa-minus white" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="col-md-12 msg-monitoramento margin-top-10">
          *A porta 80 será utilizada para monitoramento.
        </div>
        <div class="col-md-12 padding-zero margin-top-10 text-right">
          <a href="" class="btn btn-novo-pacote" ng-click="controller.applyRules()">Aplicar</a>
        </div>
        <!-- Graficos -->
        <div class="col-md-12 margin-top-20 grafico padding-30">
          <div class="col-md-6 padding-zero padding-15" align="center">
            <div class="titulo">Disco</div>
            <canvas id="storage"></canvas>
          </div>
          <div class="col-md-6 padding-zero padding-15" align="center">
            <div class="titulo">Memória RAM</div>
            <canvas id="memory"></canvas>
          </div>
          <div class="col-md-6 col-md-offset-3 padding-zero padding-15" align="center">
            <div class="titulo">CPUs</div>
            <canvas id="cpu"></canvas>
          </div>
        </div>
    </div>
</div>
