<div class="notifications col-md-8">
    <div class="title col-md-3"><i class="fa fa-exclamation-circle"></i> {{ controller.message.type }}</div>
    <div class="body col-md-6">
        <div class="text">
            <p>
                {{ controller.message.text }}
            </p>
        </div>
    </div>
    <div class="link col-md-3">
        <a href="" class="btn red margin-left-10" ng-click="closeThisDialog(false)">Não</a>
        <a href="" class="btn green" ng-click="closeThisDialog(true)">Sim</a>
    </div>
</div>
