<div class="personalizacao" align="center">
  <div class="col-md-12 padding-zero margin-top-25">
    <div class="col-md-2 col-md-offset-2 logo-disco padding-zero">
      <i class="fa-lg-disco" aria-hidden="true"></i>
    </div>
    <div class="col-md-6 padding-zero">
      <div ng-repeat="storage in environment.storages | orderBy : ['value', 'size']"
           tr-register-selection="storage {{ storage.size }} GB">
        <div class="col-md-4 opcao" ng-class="{ 'opcao-verde': storage === environment.selected.storage }">
          <div class="alinhar-texto">
            {{ storage.size }} {{storage.unit}}
          </div>
        </div>
        <a href="" class="col-md-8 valor" ng-class="{ 'valor-verde': storage === environment.selected.storage }" ng-click="controller.setStorage(storage)">
          <div class="alinhar-texto">
            {{ storage.value ? 'R$ ' + (storage.value | number : 2) : 'Grátis' }}
          </div>
        </a>
      </div>
    </div>
  </div>

<div class="col-md-12" align="left">
  <i class="fa-mais" aria-hidden="true"></i>
</div>

  <div class="col-md-12 padding-zero margin-bottom-25">
    <div class="col-md-2 col-md-offset-2 logo-disco padding-zero">
      <i class="fa-lg-banda" aria-hidden="true"></i>
    </div>
    <div class="col-md-6 padding-zero">
      <div ng-repeat="bandwidth in environment.bandwidths | orderBy : ['value', 'size']"
           tr-register-selection="bandwidth {{ bandwidth.size }} GB/s">
        <div class="col-md-4 opcao" ng-class="{ 'opcao-verde': bandwidth === environment.selected.bandwidth }">
          <div class="alinhar-texto">
            {{ bandwidth.size }} {{ bandwidth.unit }}
          </div>
        </div>
        <a href="" class="col-md-8 valor" ng-class="{ 'valor-verde': bandwidth === environment.selected.bandwidth }" ng-click="controller.setBandwidth(bandwidth)">
          <div class="alinhar-texto">
            {{ bandwidth.value ? 'R$ ' + (bandwidth.value | number : 2) : 'Grátis' }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
