<div class="ngdialog-message">
    <div class="row">
        <div class="col-md-2 alert-ico" align="center">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <div class="col-md-10 margin-top-5 message-alert">
            <span>ATENÇÃO!</span>
        </div>
    </div>
    <div class="row margin-top-15 margin-bottom-15">
        <div class="col-md-12 text-marrom">Anote o usuário e senha do seu ambiente, pois esta informação não é armazenada e não será exibida novamente posteriormente.</div>
    </div>
    <div class="col-md-12 padding-10 text-marrom background-bege">
        <div class="row">
            <div class="col-md-2">
                Usuário:
            </div>
            <div class="col-md-10">
                {{ controller.cloudEnv.rootUsername }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Senha:
            </div>
            <div class="col-md-10">
                {{ controller.cloudEnv.rootPassword }}
            </div>
        </div>
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button margin-top-15 btn-confirmar" ng-click="confirm()">Confirmar</button>
</div>