    <tr-tabs-navbar></tr-tabs-navbar>

    <div class="row">
        <div class="col-md-12" style="padding:30px">
            <div class="titulo">
                <span translate="costs-of-yours-environments-and-packages"></span>
            </div>
            <div class="subtitulo">Veja as informações sobre o uso de seus servidores</div>
        </div>
    </div>

    <ul class="row list-group list-months margin-bottom-30">
      <li class="list-group-item" ng-repeat="month in controller.months">
        <a href ng-click="controller.setActiveMonth(month.id)" class="btn" ng-class="{'active': controller.activeMonth === month.id }">{{month.name}}</a>
      </li>
    </ul>

<div ng-init="controller.setActualMonth()">

    <div ng-repeat="billing in controller.billings | orderBy : '-creationDate'" class="col-md-12 col-lg-8 col-lg-offset-2 custo margin-bottom-20" ng-class="{'custo-ativo': active === true}" ng-click="active = !active">
            <div class="row margin-top-15">
                <div class="col-md-1">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                </div>
                <div class="col-md-9">
                    <b>{{ billing.cloudEnvName }}</b>
                </div>
                <div class="col-md-2" align="right">
                    {{ billing.creationDate | date:'dd/MM/yyyy' }}
                </div>
            </div>
            <div class="row margin-bottom-15">
                <div class="col-md-9 col-md-offset-1">
                    <span ng-if="active !== true">Clique para informações detalhadas</span>
                    <span ng-if="active === true">Informações detalhadas</span>
                </div>
                <div class="col-md-2" align="right">
                    <b>R$ {{ billing.price  | number : 2 }}</b>
                </div>
            </div>
            <div ng-if="active === true" class="margin-bottom-30 col-md-10 col-md-offset-1 padding-15 info-custos" style="position:relative;">
                <div ng-repeat="action in billing.actions" class="row vertical-align-custos margin-top-10" ng-class="{'vertical-align-ativo': active === true}">
                    <div class="col-md-12" ng-if="action.action !== 'CREATE' && action.action !== 'UPGRADE' ">
                        {{action.action}}
                    </div>
                    <div class="col-md-12" ng-if="action.action === 'CREATE'">
                        CRIAÇÃO
                    </div>
                    <div class="col-md-12" ng-if="action.action === 'UPGRADE'">
                        ATUALIZAÇÃO
                    </div>
                    <div class="col-md-10" >
                      <div ng-if="action.action === 'CREATE'">
                        Criado um servidor com <b>{{ action.packageName }}</b>.
                      </div>
                      <div ng-if="action.action === 'UPGRADE'">
                        Seu servidor foi atualizado para <b>{{ action.packageName }}</b>.
                      </div>
                    </div>
                    <div class="col-md-2" align="right">
                        <b>{{ action.price | number : 2 }}</b>
                    </div>
                </div>
            </div>
        </div>
      </div>

    <div class="row">
        <div class="col-xs-12 padding-right-40 padding-bottom-20 text-right">
            <div class="text-marrom">
                Total
            </div>
            <div>
                <b class="preco-pacote text-marrom">R$</b>
                <b class="preco-numero text-marrom">{{ controller.billingTotal | number : 2 }}</b>
                <b class="preco-pacote text-marrom margin-top-10">/Mês</b>
            </div>
        </div>
    </div>
