<div class="col-md-8 texto-criacao">Selecione a distribuição:</div>
<div class="col-md-4 text-align-rigth">
  <div ng-init="linux = true" class="btn-group" role="group" aria-label="...">
    <button ng-class="{ 'distro-active': linux === true }" ng-click="controller.getDistroLinux(); linux = true; windows = false;" type="button" class="btn btn-default distro"><i class="fa fa-linux margin-right-5" aria-hidden="true"></i>Linux</button>
    <button ng-class="{ 'distro-active': windows === true }" ng-click="controller.getDistroWindows(); linux = false; windows = true;" type="button" class="btn btn-default distro"><i class="fa fa-windows margin-right-5" aria-hidden="true"></i>Windows</button>
  </div>
</div>
<div class="col-md-12 padding-zero">
  <!-- Inicio ng-repeat -->
  <div class="col-md-3 padding-10"
       ng-click="controller.setDistribution(distribution)"
       ng-repeat="distribution in environment.distributions"
       tr-register-selection="distro {{ distribution.distribuition }} {{ distribution.version }}">
    <div class="col-md-12 bloco-pacote padding-zero" ng-class="{ 'bloco-pacote-verde': distribution === environment.selected.distribution }">
      <i class="fa-dist-{{ distribution.so.toLowerCase().replace(' ', '-') }}" ng-class="{ 'fa-dist-{{ distribution.so.toLowerCase().replace(' ', '-') }}-verde': distribution === environment.selected.distribution }" aria-hidden="true"></i>
      <div class="div-dist" ng-class="{ 'div-dist-verde': distribution === environment.selected.distribution }">
        <select>
          <option value="version">{{ distribution.so }} {{ distribution.version }}</option>
        </select>
      </div>
    </div>
  </div>
  <!-- Fim ng-repeat -->
</div>
