<div style="margin-top:60px;"></div>
<div class="row">
  <div class="navbar navbar-default col-xs-12 padding-zero">
    <div class="container-fluid" style="background-color:#f1ece8">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#env-billing-tab-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs-inline-block" href="#">Menu</a>
      </div>

      <div class="collapse navbar-collapse" id="env-billing-tab-menu">
        <ul class="nav navbar-nav">
          <li ui-sref="environment.list" ui-sref-active="tab-ativa" class="texto-aba">
            <a href="#"><i class="fa fa-th margin-right-5"></i>LISTA DE AMBIENTES</a>
          </li>
          <li ui-sref="environment.billing" ui-sref-active="tab-ativa" class="texto-aba">
            <a href="#"><i class="fa fa-usd margin-right-5"></i>CUSTOS</a>
          </li>
        </ul>
        <div class="navbar-form navbar-left visible-sm-block visible-md-block visible-lg-block">
          <button class="btn btn-novo-pacote margin-left-100" ui-sref="environment.creation">NOVO SERVIDOR</button>
        </div>
        <div class="navbar-form navbar-right">
          <button class="btn btn-novo-pacote visible-xs-inline-block" ui-sref="environment.creation">NOVO SERVIDOR</button>
          <button class="btn btn-novo-pacote" href="#">SUPORTE</button>
        </div>
      </div>
    </div>
  </div>
</div>
